<div class="flex flex-col h-screen">
  <app-header-component
    [title]="title"
    [showHamburger]="true"
    [actions]="headerActions"
    (hamburgerClicked)="toggleSidebar()"
    (actionClicked)="handleHeaderAction($event)"
  ></app-header-component>

  <div class="flex flex-1 overflow-hidden">
    <app-sidebar-component
      class="hidden md:block w-64 bg-gray-800 text-white h-full border-r border-gray-700"
      [menuItems]="menuItems"
      (menuItemClicked)="onMenuItemClick()"
    ></app-sidebar-component>

    <main class="flex-1 p-6 overflow-y-auto bg-gray-50">
      <router-outlet></router-outlet>
    </main>
  </div>

  @if (isSidebarOpen) {
  <div class="fixed inset-0 z-50 md:hidden flex">
    <div
      class="fixed inset-0 bg-gray-100 bg-opacity-50"
      (click)="toggleSidebar()"
    ></div>

    <app-sidebar-component
      class="relative w-64 bg-gray-900 text-white border-r border-gray-700 shadow-xl"
      (menuItemClicked)="onMenuItemClick()"
    ></app-sidebar-component>
  </div>
  }
</div>
