:host {
  display: block;
  height: 100vh;
  overflow: hidden;

  mat-icon {
    font-size: 2.2rem;
  }

  section {
    background-attachment: fixed;
  }

  a[mat-raised-button],
  a[mat-stroked-button] {
    transition: transform 0.3s;
    &:hover {
      transform: scale(1.05);
    }
  }
}
