<nav class="h-full flex flex-col p-4 space-y-2">
  @for (item of menuItems; track item.route) {
  <a
    [routerLink]="item.route"
    routerLinkActive="bg-indigo-700 text-white"
    [routerLinkActiveOptions]="{ exact: true }"
    class="flex items-center space-x-3 px-3 py-2.5 rounded-lg font-medium text-gray-200 hover:bg-indigo-700 hover:text-white transition-all duration-200 group"
    (click)="menuItemClicked.emit()"
  >
    <mat-icon
      class="text-sm group-hover:text-white group-[.active]:text-white transition-colors"
    >
      {{ item.icon }}
    </mat-icon>
    <span>{{ item.label }}</span>
  </a>
  }
</nav>
